<nav class="navbar navbar-default"> 
    
    <ul class="nav nav-pills pull-left">
        <li>
            <a href= "/">Home</a>
        </li>
    <% if user_signed_in? %>
            <li>
                <a href= "<%= new_post_path %>">Write A Post</a>
            </li>
    </ul>
    <ul class="nav nav-pills pull-right">
        <li>
            <%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
        </li>
    </ul>
    <% else %>
    </ul>
    <ul class="nav nav-pills pull-right">
        <li>
            <%= link_to "Sign In", new_user_session_path %>
        </li>
        <li>
            <%= link_to "Sign Up", new_user_registration_path %>
        </li>
    </ul>
        
    <% end %>
        
    </ul>
</nav>