<h1 class="text-center blog-title">Blog Posts</h1>

<table class="table text-center">
    <thead class="bold">
        <td>Id</td>
        <td>Title</td>
        <td>Word Count</td>
        <td>Author</td>
    </thead>
    <tbody>
        <% @posts.each do |post| %>
        <tr>
            <td><%= post.id %></td>
            <td><%= link_to post.title, post_path(post.id) %></td>
            <td><%= post.word_count %></td>
            <td><%= post.user.email %></td>
        </tr>
        <% end %>
    </tbody>
</table>
