/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
 @import "bootstrap-sprockets";
 
 // Optional theme
 @import "bootswatch/lumen/variables";
 //
 
 @import "bootstrap";
 
 // Optional Theme as well
  @import "bootswatch/lumen/bootswatch";
 //
 
 @import "font-awesome";
 
.alert {
    color:red;
    font-style: italic;
}
 
.bold {
    font-weight: bold;
}
 
.blog-title {
     padding: 1rem 0 3rem 0;
}

.post-body {
    width: 90%;
    height: 400px;
}

.post-title {
    width: 90%;
    height: 40px;
    margin-bottom: 24px;
}
 
.post-title-label, .post-body-label {
    font-size: 18px;
    font-weight: 600;
    display: block;
}

.post-title, .post-body {
    outline: none;
    border: 1px solid #cccccc;
}

.my-button-group {
    color: blue;
    border: 1px solid #cccccc;
}

a { 
    &:hover {
        text-decoration: none;
    }
    &:focus {
        text-decoration: none;
    }
}
.form-control.post_body-quill {
    height: 500px;
}